{% extends "layout.html" %}

{% block content %}
    <script>
        let pitches = {{pitches|tojson}};
        let moduleId = {{moduleId|tojson}};
        let quiz = {{quiz|tojson}};
        console.log(pitches);
        console.log(moduleId);
        console.log(quiz);
    </script>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
    </div>
    <div id="page_title">
        <div class='row'>
            <div class='module-page-title col-8'></div>
            <div class='return-btn-col col-4'>
                <button type='submit' id='return-btn'>
                    <img id='return-icon' src="/static/images/graphics/return_icon.png">
                    &nbsp; Return
                </button>
            </div>
        </div>
    </div> 
    <div id="page_content">
        <div class='row'>
            <div class='col-9'>
                <div class='flashcards row'></div>
                <div id='score' class='row'></div>
            </div>
            <div class='col-3'>
                <div class='row'>
                    <button type="submit" id="submit-btn" class="disabled">
                        Submit
                    </button>
                </div>
                <div class='row'>
                    <button type="submit" id="cont-btn">
                        Continue
                    </button>
                </div>
                <div class='row'>
                    <button type="submit" id="rest-btn" class="disabled">
                        Restart
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename = 'module-5-quiz.js') }}"></script>    
    
{% endblock %}